@font-face {
  font-family: "FuturaPTMedium";
  src: url("./Fonts/Futura PT/FuturaPTMedium.otf");
}

@font-face {
  font-family: "FuturaPTMediumOblique";
  src: url("./Fonts/Futura PT/FuturaPTMediumOblique.otf");
}

h2 {
  font-family: "FuturaPTMedium";
  font-size: 30px;
}

h3 {
  font-family: "FuturaPTMediumOblique";
  font-size: 26px;
}

h4 {
  font-family: "FuturaPTMediumOblique";
  font-size: 22px;
  text-align: center;
  color: white;
}

.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
}

.video-header, .video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .video-header, .video-header video, .video-header .viewport-header {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

.video-header video {
  background: #1d1d1d;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-header .viewport-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.logo {
  max-height: 450px;
  margin: 2rem;
}

.down-icon {
  position: absolute;
  bottom: 0;
  height: 80px;
  fill: white;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background: #1d1d1d;
  position: relative;
  margin-top: 100vh;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}

main::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  top: -100vh;
}

@media only screen and (max-width: 768px) {
  main::before {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

main p {
  max-width: 600px;
  margin: 1rem auto;
  color: white;
}

.sindey-enterance {
  width: 100%;
}

.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 350px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container__text {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 1rem;
}

.header-container__text h2 {
  text-transform: uppercase;
}

.header-container__text h2, .header-container__text h3 {
  margin: 0;
}

.event-card__container {
  position: relative;
  margin: 6rem 0;
}

.event-card__container::before {
  content: "";
  height: 42px;
  width: 2px;
  background: white;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.event-card__container::after {
  content: "";
  height: 42px;
  width: 2px;
  background: white;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.event-card__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-bottom: -67px;
  margin-bottom: 68px;
  font-size: 16px;
}

.event-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  max-height: 450px;
}

@media only screen and (max-width: 768px) {
  .event-image__container {
    max-height: 250px;
  }
}

.event-image__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  max-width: 400px;
}

.btn-primary {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: FuturaPTMediumOblique;
  padding: 0.5rem 2rem;
}
/*# sourceMappingURL=style.css.map */