@mixin coverer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @media only screen and (max-width: 768px) {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

@font-face {
  font-family: "FuturaPTMedium";
  src: url("./Fonts/Futura\ PT/FuturaPTMedium.otf");
}

@font-face {
  font-family: "FuturaPTMediumOblique";
  src: url("./Fonts/Futura\ PT/FuturaPTMediumOblique.otf");
}
h2 {
  font-family: "FuturaPTMedium";
  font-size: 30px;
}

h3 {
  font-family: "FuturaPTMediumOblique";
  font-size: 26px;
}

h4 {
  font-family: "FuturaPTMediumOblique";
  font-size: 22px;
  text-align: center;
  color: white;
}

.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
  &, video, .viewport-header {
    @include coverer;
  }
  video {
    background: #1d1d1d;
    object-fit: cover;
  }
  .viewport-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.logo {
    max-height: 450px;
    margin: 2rem;
}

.down-icon {
    position: absolute;
    bottom: 0;
    height: 80px;
    fill: white;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}
body {
  margin: 0;
  padding: 0;

  // background-image: url('./liquidBackgroundLoop.gif');
  // background-size: cover;
  // background-position: center;

  // height: 100vh;
}

main {
  background: #1d1d1d;
  position: relative;
  margin-top: 100vh;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  @media only screen and (max-width: 768px) {
    height: 100%;
  }

  &::before {
    content: "";
    @include coverer;
    top: -100vh;
  }
  p {
    max-width: 600px;
    margin: 1rem auto;
    color: white;
  }
}

.sindey-enterance {
  width: 100%;
}

.header-container {
  position: relative;
  display: flex;
  max-height: 350px;
  overflow: hidden;
  align-items: center;

  &__text {
    color: #fff;
    position: absolute;
    bottom: 0;
    margin: 1rem;

    h2 {
      text-transform: uppercase;
    }

    h2, h3 {
      margin: 0;
    }
  }
}

.event-card {
  &__container {
      position: relative;
      margin: 6rem 0;

    &::before {
      content: "";
      height: 42px;
      width: 2px;
      background: white;
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1000;
      transform: translate(-50%, -50%);
    }
    &::after {
      content: "";
      height: 42px;
      width: 2px;
      background: white;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1000;
      transform: translate(-50%, -50%);
    }
  }
  &__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: -68px;
    font-size: 16px;
  }
}

.event-image {
  width: 100%;
  object-fit: cover;
  &__container {
    display: flex;
    overflow: hidden;
    position: relative;
    max-height: 450px;
    @media only screen and (max-width: 768px) {
      max-height: 250px;
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 400px;
  }
}

.btn {
  &-primary {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: FuturaPTMediumOblique;
    padding: 0.5rem 2rem;
  }
}